@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

/* login page */

/* #login{
  overflow-x: hidden;
} */

.btn-color{
  background-color: #013496;
  border-radius: 10px;
}

.btn-color:hover{
  border: solid 1px;
}

.font-color{  
  color: #565656;
}

.linkedAuth{
  text-decoration: none;
  color: #013496;
  cursor: pointer;
}

.bg-auth{
  background: linear-gradient(211.86deg, #404EFB 0%, #013496 100%);
}

.auth-image{
  width: 50%;
  height: auto;
}

/* end login page */