@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.small__font {
  font-size: 16px;
}

.medium__font {
  font-size: 20px;
}

main {
  min-height: 100vh;
}

.input__height {
  height: 44px;
}

.h-100 {
  height: 100%;
}

.addButton {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #013496;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

/* navbar */
.navbar__container {
  background-color: #013496;
}

.navbar__logo {
  width: 113px;
}

.nav-link {
  color: white;
  padding: 10px;
}

.navbar__button {
  background-color: unset;
  display: block;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  font-size: 1.3em;
  color: white;
}

/* end navbar */

/* login page */
.btn-color {
  background-color: #013496;
  border-radius: 10px;
}

.btn-hapus {
  border-radius: 10px;
}

.btn-color:hover {
  border: solid 1px;
}

.font-color {
  color: #565656;
}

.linkedAuth {
  text-decoration: none;
  color: #013496;
  cursor: pointer;
}

.bg-auth {
  background: linear-gradient(211.86deg, #404efb 0%, #013496 100%);
}

.auth-image {
  width: 50%;
  height: auto;
}

/* end login page */

/* warna buat tombol panah kembali */
.warna {
  color: #013496;
}

/* footer */
.bg__footer {
  background-color: #f2f2f2;
}

.bg__footer p {
  margin: 0;
}

.footer__logo {
  width: 113px;
}

@media only screen and (max-width: 770px) {
  .footer__section {
    justify-content: start !important;
  }
}

/* end Footer */

/* Swal */
.swal2-title {
  font-size: 20px !important;
}

.swal2-input {
  font-size: 16px;
}

.swal2-confirm {
  background-color: #013496 !important;
}

.swal2-cancel {
  background-color: #DC3545 !important;
}

/* End Swal */

/* saving plan */
.reminderOneMonth {
  background-color: #fff06b;
  width: fit-content;
  display: inline;
}

/* end of saving plan */

/* button spacing */

.peding{
  padding: 13px 9px 13px 9px;
}

.pedingSaving{
  padding: 9px 13px 9px 13px;
}

.pedingNav{
  height: 44px;
  width: 44px;
}

.pedingItem{
  min-width: 44px;
  min-height: 44px;
  padding: 10px 0px 10px 0px !important;
}

.pedingBack{
  padding: 9px 0px 9px 0px;
}

.pedingFoot{
  padding: 10px 0px 10px 0px;
}

/* end of button spacing */